
.hair {
    border: 0px solid white;
    height: 50vh;
    width: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;

}
.hair .hair1:hover {
    height: 400px;
    border: 2px solid rgba(3, 3, 2, 0.863);
    border-radius: 30px;
}
img{
    width: 50vh;
    height: 200px;
    border-radius: 30px;
    transition: 0.5s ease-in;   

}
.hair .hair1 img:hover{
    border-radius: 400px;
    transition: 0.5s ease-in;
}
.hair .hair img:hover{
    box-shadow: 2px 2px 4px 4px black;
    border-radius: 60%;
}
h2{
    color:rgb(238, 235, 235);
    left: 500%;
}
p{
    color:rgb(253, 252, 252);
    font-style: italic;
}
h1{
    padding-left: 550px;
    font-size: 50px;
    display: grid;
    color: brown;

}
